<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Controller.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetail</servlet-name>
        <servlet-class>Controller.ViewDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteInCart</servlet-name>
        <servlet-class>Controller.deleteInCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteInWishlist</servlet-name>
        <servlet-class>Controller.deleteInWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishlist</servlet-name>
        <servlet-class>Controller.AddToWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInformation</servlet-name>
        <servlet-class>Controller.UserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>Controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>Controller.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotController</servlet-name>
        <servlet-class>Controller.ForgotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrders</servlet-name>
        <servlet-class>Controller.HistoryOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrdersController</servlet-name>
        <servlet-class>Controller.HistoryOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>Controller.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePassword</servlet-name>
        <servlet-class>Controller.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>Controller.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>Controller.updatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>AdminPacket.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <servlet-class>AdminPacket.ListUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>AdminPacket.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistory</servlet-name>
        <servlet-class>AdminPacket.ShowHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoldList</servlet-name>
        <servlet-class>AdminPacket.SoldList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWishlist</servlet-name>
        <servlet-class>AdminPacket.ViewWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>AdminPacket.UpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetail</servlet-name>
        <url-pattern>/ViewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteInCart</servlet-name>
        <url-pattern>/deleteInCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteInWishlist</servlet-name>
        <url-pattern>/deleteInWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishlist</servlet-name>
        <url-pattern>/AddToWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInformation</servlet-name>
        <url-pattern>/UserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotController</servlet-name>
        <url-pattern>/ForgotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrders</servlet-name>
        <url-pattern>/HistoryOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrdersController</servlet-name>
        <url-pattern>/HistoryOrdersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePassword</servlet-name>
        <url-pattern>/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/ListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistory</servlet-name>
        <url-pattern>/ShowHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoldList</servlet-name>
        <url-pattern>/SoldList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWishlist</servlet-name>
        <url-pattern>/ViewWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
